<header
  class="w-full p-4 flex justify-between items-center bg-bg-surface shadow-sm transition-colors duration-300"
>
  <div class="flex items-center gap-2 px-4">
    <span class="material-symbols-outlined text-text-inverted bg-primary p-2 rounded-xl">
      balance
    </span>
    <span class="text-xl font-bold text-text-base">MassLab</span>
  </div>

  <div class="flex items-center gap-4">
    <span class="text-sm font-medium text-text-muted uppercase tracking-wider hidden sm:block">
      Laboratório de Calibração
    </span>
    <button
      (click)="themeService.toggleTheme()"
      class="cursor-pointer p-2 px-4 rounded-full hover:bg-bg-surface text-text-muted transition-colors"
      [attr.aria-label]="themeService.isDarkMode() ? 'Ativar modo claro' : 'Ativar modo escuro'"
    >
      @if (themeService.isDarkMode()) {
        <!-- Sun icon -->
        <span class="material-symbols-outlined">light_mode</span>
      } @else {
        <!-- Moon icon -->
        <span class="material-symbols-outlined">dark_mode</span>
      }
    </button>
  </div>
</header>
