<header
  class="w-full p-4 flex justify-between items-center bg-bg-surface shadow-sm transition-colors duration-300"
>
  <div class="flex items-center gap-2 px-4">
    <span class="material-symbols-outlined text-text-inverted bg-primary p-2 rounded-xl">
      balance
    </span>
    <span class="text-xl font-bold text-text-base">MassLab</span>
  </div>

  <div class="flex items-center gap-4">
    <span class="text-sm font-medium text-text-muted uppercase tracking-wider hidden sm:block">
      Laboratório de Calibração
    </span>
    <app-theme-button />
  </div>
</header>
